jobs/

data/CHAOS/fake_T1/
data/CHAOS/fake_T2/
data/CHAOS/T1/
data/CHAOS/T2/
data/MMWHS/CT_withGT_proc/
data/MMWHS/MR_withGT_proc/
data/MMWHS/fake_CT/
data/MMWHS/fake_MR/

baselines/checkpoints/
baselines/UNET_logs/
baselines/DDFSeg/logs/
baselines/DDFSeg/results/
baselines/DDFSeg/src/__pycache__
baselines/__pycache__
results/__pycache__