jobs/
data/CHAOS
data/MMWHS
baselines/checkpoints/
baselines/UNET_logs/
baselines/DDFSeg/logs/
baselines/DDFSeg/results/
baselines/DDFSeg/src/__pycache__
baselines/__pycache__
results/__pycache__
src/logs/
src/checkpoints/